<div class="row">
<div class="col-12">

<div class="jumbotron f4f-welcome">
  <h1 class="display-4">{{'about.section1.title' | translate}}</h1>
  <p class="lead">{{'about.section1.subtitle' | translate}}</p>
  <hr class="my-4">
  <p> {{'about.section1.text1' | translate}}</p>
  <a class="btn btn-primary btn-lg" role="button"
     [routerLink]="['/' + PATHS.VENDORS]"> {{'about.section1.find-vendors' | translate}}</a>
</div>

<div class="jumbotron">
  <h1 class="display-4">{{'about.section2.title' | translate}}</h1>

  <h2>{{'about.section2.step1' | translate}}</h2>
  <p class="translated-section">{{'about.section2.step1-text1' | translate}}<a routerLink="/vendors">{{'about.section2.step1-link' | translate}}</a>{{'about.section2.step1-text2' | translate}}
  </p>

  <h2>{{'about.section2.step2' | translate}}</h2>
  <p class="translated-section">{{'about.section2.step2-text' | translate}}</p>

  <h2>{{'about.section2.step3' | translate}}</h2>
  <p class="translated-section">{{'about.section2.step3-text' | translate}}</p>

  <h2>{{'about.section2.step4' | translate}}</h2>
  <p class="translated-section">{{'about.section2.step4-text' | translate}}</p>

  <h2>{{'about.section2.step5' | translate}}</h2>
  <p class="translated-section">{{'about.section2.step5-text' | translate}}</p>

  <h2>{{'about.section2.step6' | translate}}</h2>
  <p class="translated-section">{{'about.section2.step6-text' | translate}}</p>

  <h2>{{'about.section2.step7' | translate}}</h2>
  <p class="translated-section">{{'about.section2.step7-text' | translate}}</p>

  <h2>{{'about.section2.step8' | translate}}</h2>
  <p class="translated-section">{{'about.section2.step8-text' | translate}}</p>

  <h2>{{'about.section2.step9' | translate}}</h2>
  <p class="translated-section">{{'about.section2.step9-text' | translate}}</p>

  <h2>{{'about.section2.step10' | translate}}</h2>
  <p class="translated-section">{{'about.section2.step10-text' | translate}}</p>
</div>

</div>
</div>
