.button-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 50px auto auto;

  button {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.f4f-welcome {
  background-color: #d8ecf3;
}
