$icon-side: 40px;

.f4f-logo-container {
  outline: none;

  .f4f-logo {
    width: $icon-side;
    height: $icon-side;
  }
}

.f4f-navbar-icon {
  margin-right: 8px;
}

.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}
